doctype html
html
  head
    meta(name="viewport", content='width=device-width',
        initial_scale=1.0)
    title= title
    link(href="/bootstrap/css/amelia.bootstrap.css", rel="stylesheet")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/jquery_3.3.3.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    
    
